.tutorial-layout {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: space-between;
  padding: 3rem 5rem;
  flex-wrap: wrap;
}

.tutorial-title {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.tutorial-loader {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 2rem;
}

.tutorial-main {
  flex: 1 1 50%;
  color: #e0e9ff;
  padding-left: 5rem;
  padding-top: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.tutorial-steps {
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.step-header {
  cursor: pointer;
}

@media (max-width: 768px) {
  .tutorial-layout {
    flex-direction: column;
    align-items: center;
  }

  .tutorial-loader,
  .tutorial-main {
    flex: 1 1 100%;
    width: 100%;
    padding-left: 1rem;
  }
}
